


.background {
  background-image: url('../immagini/background.jpg');
  background-size: 100%;
}

.containerbox {
 width: 1000px;
 height: 650px;
 background: rgba(0, 0, 0, 0.5) ;
 margin:auto;
 margin-top: 50px;
 border-radius: 2%;
 position: relative;
}

.logo {
 width: auto;
 height: 80px;
 display: block;
 margin: auto;
 padding-top: 60px;
 margin-bottom: 10px;
}

.titolo{
  color: #08dc04;
  margin:auto;
  display:block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.pulsanti {
  background-color: #08dc04;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  padding: 10px;
}




nav , span , h2 {
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  font-size: 12px ;
}

.dati{
  padding-top: 15px;
}





.Gino22{
  margin-right: 90px;
  margin-left: 90px;
  padding: 10px;
  padding-top: 10px;
}

.chackbox-{
  display: inline-block;
}

.carica-gino {
  width: 300px;
  height: 5px;
  background-color: green;
  padding: 10px 10px 10px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
}

.carica-gino2 {
  width: 200px;
  height: 5px;
  background-color: yellow;
  padding: 10px 10px 10px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
}

.carica-gino3{
  width: 100px;
  height: 5px;
  background-color: red;
  padding: 10px 10px 10px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;

}
